[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Broken Sword
GenericName=Broken Sword
Comment=Broken Sword
Icon=/home/stefan/.dolmades/icons/Broken_Sword.png
Exec=/tmp/dolmades-cli/udocker --repo=/home/stefan/.dolmades/repo run --workdir=/wineprefix/ --dri --volume=/home/stefan/.Xauthority --user=stefan --hostenv Broken_Sword bash -c 'cd "/wineprefix/drive_c/Program Files/Broken Sword 2.5" && wine ./bsengine.exe'
Categories=Game;
Path=/home/stefan/
